:root {
  --overview-text:#2a2a2f;
  --text:#2a2a2a;
  --text-med:#bbb;
  --text-faint:#ffdc68;
  --text-faint-alpha:#ffdc68a8;
  --text-ultra-faint:#d7d7d7;
  --highlight:#c70700;
  --bg-primary:#fffefa;
  --bg-primary-alpha:#ffffff80;
  --bg-secondary:#ffffff;
  --bg-tertiary:#f6f6f4;
  --selection:#f7cb4577;
  --gold:#fadc7a;

  --highlight-text:linear-gradient(120deg, #fc9362, #f54f4f);
  --values-ribbon:linear-gradient(60deg, #ffde7442, #ff96724a);
}
::-moz-selection {background-color:var(--selection);}
::selection {background-color:var(--selection);}
body {background-color:var(--bg-primary);color:var(--text);font-family:'Open Sans', sans-serif;font-variant-ligatures:common-ligatures;font-weight:300;font-size:17px;margin:0 auto;overflow:hidden;width:100vw;text-rendering:optimizeLegibility;}
h1, h2, h5 {font-variant-ligatures:discretionary-ligatures;font-weight:700;line-height:1.1em;margin-top:0;margin-bottom:0;}
a {color:var(--text);text-decoration:none;}
b {font-weight:700;}
.hidden {display:none!important;}

html {width:100vw;overflow-x:hidden;}
.row {padding:40px 5vw;max-width:1200px;margin:0 auto;position:relative;}
.row p {max-width:65ch;}
body a.btn {border:none;border-radius:6px;font-weight:bold;display:inline-block;margin-top:10px;padding:8px 14px;}
emoji {font-family:'apple color emoji','segoe ui emoji','noto color emoji','android emoji',emojisymbols,'emojione mozilla','twemoji mozilla','segoe ui symbol';font-weight:400;}

h2.title {
  background:var(--highlight-text);
  font-size:32px;
  font-weight:100;
  margin-top:40px;
  margin-bottom:20px;
  width:fit-content;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.token {
  -webkit-backdrop-filter:blur(5px);
  backdrop-filter:blur(5px);
  display:inline-block;
  border:1px solid var(--text-faint-alpha);
  border-radius:20px;
  margin-bottom:.5em;
  padding:2px 8px 2px 9px;
}

/* OVERVIEW */
#overview {
  background-image:url(images/bg/halftone.png);
  font-size:calc(100% + .8vw);
  padding-top:60px;
  position:relative;
}
#overview .row {position:relative;padding-bottom:80px;}
#overview .row::before {
  content:'';
  background-color:#fc6463;
  background-image:url(images/bg/memphis-light.png);
  border-radius:100%;
  box-shadow:0 0 300px 150px #ffebe9;
  position:absolute;
  width:150px;
  height:150px;
  bottom:calc(15vw + 40px);
  right:10.3%;
  z-index:0;
  /* animation */
  animation-name:solr;
  animation-duration:40s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
#overview .row::after {
  content:'';
  background-color:transparent;
  background-image: radial-gradient(#ffd7d7, #fde9e1 19%, #f8ecdf 70%, #a49a2e69);
  background-size: 600px 600px;
  background-position: -50px 542px;
  backdrop-filter: brightness(1.15) contrast(0.95);
  -webkit-backdrop-filter: brightness(1.15) contrast(0.95);
  border: 2px solid #ed807c9c;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-radius:100%;
  position:absolute;
  bottom:calc(15vw + 40px);
  right:11%;
  width:200px;
  height:200px;
  z-index:0;
}
@keyframes solr {
  from {background-position:0 0;transform:rotate(0deg);}
  to {background-position:400px 0;transform:rotate(360deg);}
}
#overview .row * {
  position:relative;
  z-index:1;
}
h1.my-name {color:#eb5654;font-size:1.6em;font-weight:100;}
#overview p {font-size:22px;line-height:1.6;max-width:65ch;}
#overview p:last-child {padding-bottom: calc(120px - 15vw);}
#overview a {border-bottom: 1px dotted var(--highlight);}
@media(prefers-color-scheme:dark) {
  #overview {
    background-image:radial-gradient(circle, transparent, rgb(0 0 0 / 61%)), url(images/bg/dark_wall.png);
    background-size:200% 150%, 300px 300px;
    background-position:top center;
  }
  #overview .row::before {
    background-color:#ee5756;
    background-image:url(images/bg/memphis-dark.png);
    border:.5px solid #2b2b2b;
    box-shadow:0 0 30px 5px #5f3029, 0 0 200px 100px #00000023;
  }
  #overview .row::after {
    background-color: #0a0a0a;
    background-image: radial-gradient(circle farthest-corner at 72% 75%, #0a0a0a 0%, #2b2b2b82 100%);
    border-color: #8b3c3a;
    box-shadow: 0 0 40px 12px #00000033;
  }
  h1.my-name {color:#fb716a;}
}
#overview h2 {
  font-size:32px;
  font-weight:100;
  margin-top:48px;
}
#overview p.experience {
  font-size:17px;
  max-width:60vw;
  width:70%;
}

/* Subhead */
#subhead .flex-container {
  display:flex;
  flex-flow:column;
  padding:40px 0;
}
#subhead .flex-container div {
  line-height:1.8;
  padding:0 5vw 40px;
}
#subhead .flex-container div:last-child {
  line-height:initial;
  background-image:linear-gradient(113deg, transparent 60.91%, #18181880 60.91%);
  background-color:var(--bg-tertiary);
  padding:24px 5vw 40px;
}
#subhead .flex-container .title {margin-top:20px;}
#subhead h3 {margin:2em 0 .5em;}
#subhead h3 ~ p {margin:.8em 0;}
@media screen and (min-width:900px) {
  #subhead {
    background-image:linear-gradient(113deg, transparent 83.91%, #18181880 83.91%), linear-gradient(to right, var(--bg-primary) 60%, var(--bg-tertiary) 40%);
  }
  #subhead .flex-container {
    flex-flow:row;
    padding:40px 5vw;
  }
  #subhead .flex-container div {
    padding:0 5% 0 0;
    width:65%;
  }
  #subhead .flex-container div:last-child {
    background:unset;
    padding:0 0 0 10%;
    width:35%;
  }
  #subhead .flex-container .title {margin-top:40px;}
}
@media screen and (min-width:1200px) {
  #subhead {
    background-image:linear-gradient(113deg, transparent 63.91%, #18181880 63.91%), linear-gradient(to right, var(--bg-primary) 50%, var(--bg-tertiary) 50%);
  }
  #subhead .flex-container div {
    padding-right:6%;
    width:50%;
  }
  #subhead .flex-container div:last-child {
    padding-left:8%;
    width:50%;
  }
}

/* WORK */
.work {padding-top:20px;}
.work img {margin:0 auto;display:block;max-height:100px;max-width:80%;transition:all 180ms;transition-timing-function:ease-out;}
.work h4 {margin:-20px 0 0;}
.work p {margin:.3em 0 .6em;}

.flex-grid {display:flex;flex-flow:wrap;justify-content:space-between;}
.flex-grid a {position:relative;margin:10px 0;width:100%;}
.flex-grid a[disabled] figure {backdrop-filter:blur(12px) saturate(150%);-webkit-backdrop-filter:blur(12px) saturate(150%);opacity:0.8;}

.flex-grid figure {
  align-items:center;
  background:no-repeat center;
  background-size:100% 100%;
  border-radius:8px;
  box-shadow:0 0 13px -9px var(--text-med);
  display:flex;
  flex-flow:column;
  font-weight:700;
  justify-content:space-evenly;
  padding:15px;
  margin:0;
  min-height:160px;
  position:relative;
  overflow:hidden;
  text-align:center;
  transition:all 200ms ease;
  z-index:1;
  user-select:none;
  -webkit-user-select:none;
}
.flex-grid a:hover figure {box-shadow:0 10px 30px 0 var(--text-med);transform:scale(1.05);}
.flex-grid a:hover img {max-height:108px;max-width:86%;}
.flex-grid a[disabled]:hover figure {box-shadow:none;cursor:not-allowed;transform:scale(1);transition:all 120ms;}
.flex-grid a[disabled]:active figure * {filter:blur(8px)contrast(0.7);opacity:.5;transition:none;}
.flex-grid a[disabled]:active::after {align-items:center;background-color:var(--bg-primary);border-radius:8px;content:'\f30d\Alocked';cursor:not-allowed;display:flex;font-family:"Font Awesome 6 Pro", Raleway;font-size:1.2em;font-weight:100;line-height:2em;justify-content:center;padding-top:15px;opacity:.7;text-align:center;white-space:pre-wrap;position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;}
@media (prefers-color-scheme:dark) {
  .flex-grid a:hover figure, .flex-grid figure {box-shadow:unset;}
  .flex-grid a[disabled]:active figure * {filter:blur(8px);}
  .flex-grid a[disabled]:active figure img {filter:blur(8px) invert(1);}
}

.flex-grid figure[data-tags]::before {opacity:.5;font-family:"Font Awesome 6 Pro";font-weight:400;position:absolute;right:8px;top:8px;font-size:16px;transition:inherit;}
.flex-grid figure[data-tags*="Presentation"]::before {content:'\f685';}
.flex-grid figure[data-tags*="Incomplete"]::before {content:'\f85e';}
.flex-grid figure[data-tags*="Disabled"]::before {content:'\f30d';font-weight:900;opacity:0.15;}

/* APPLE */
.work .apple[disabled]:hover img {max-height:65px;}
.work .apple[disabled]:hover figure::after {opacity:0.4;}

.apple figure {background-color:#fafafc;background-image:radial-gradient(ellipse,#fafafc 50%,#efeff4);background-size:170% 160%;background-position:90% 100%;color:black;}
.apple img {max-height:65px;margin-bottom:10px;position:relative;z-index:1;}
.apple figure::after {content:'';background:url(images/apple-logo-rainbow.svg) center center no-repeat;background-size:contain;display:block;transition:all 250ms;opacity:0;filter:blur(10px);width:100%;height:100%;max-height:21px;position:absolute;top:65px;right:0;left:0;z-index:0;}
.work .apple:hover img {max-height:74px;}
.work .apple:hover figure::after {top:36px;max-height:82px;filter:blur(20px);opacity:0.5;}
@media (prefers-color-scheme:dark) {
  .apple figure {background-color:#000000;background-image:radial-gradient(ellipse,#000000 50%,#121222);background-size:170% 160%;background-position:90% 100%;color:white;}
  .apple img {filter:invert(1);}
  .work .apple:hover figure::after {filter:blur(15px);opacity:1;}
}

/* AMAZON */
figure.amazon {background-color:#f29d39;background-image:radial-gradient(ellipse,#f29d39 50%,#f58109);background-size:140% 130%;background-position:90% 100%;color:white;}
figure.amazon.instant {background-color:#48a6de;background-image:radial-gradient(ellipse,#48a6de 50%,#347aad);}
/* BLUETOOTH */
figure.bluetooth {background:url(images/bluetooth/chevrons-blue-transp.png) repeat center;background-color:#40a0fc;background-size:110px 110px;color:white;}
figure.bluetooth:hover {background-size:98px 98px;}
/* BOB */
figure.bob {background:url(images/bob-books/bob-bg.jpg) no-repeat center;background-size:108% 108%;color:#4f5354;}
figure.bob:hover {background-size:100% 100%;}
figure.bob h4 {margin-top:-10px;}
/* DICTIONARY */
figure.dictionary {background:linear-gradient(12deg, #ab4d74, #e03c3e 85%);color:white;}
figure.dictionary img {max-width:84%;}
figure.dictionary:hover img {max-width:89%;}
figure.dictionary h4 {margin-top:-30px;}
/* TMO */
figure.tmo {background:url(images/tmo/topography-magenta.png) repeat center;background-size:460px 460px;}
figure.tmo:hover {background-size:370px 370px;}
figure.tmo h4 {margin-top:0;color:white;}
/* EARWAX */
figure.loveEarwax {background-color:#1b1b1b;color:white;}
/* LENDINGHOME */
figure.lending {background-color:#2e5a6f;color:white;} /* gold color #f7CC45 */
/* WEB FOUNDATIONS */
figure.mentoring {background-color:#fff5d2;color:#2a2a2a;}
/* SERVICENOW */
figure.sn {background-color:#293e40;background-image:url(images/servicenow/random-lines.svg);background-size:268%;color:white;}
figure.sn:hover {background-size:260%;}
figure.sn.partner-finder {background-color:#81b5a1;color:#293e40;background-blend-mode:multiply;}
@media screen and (min-width:670px) {
  figure.sn {background-size:118%;}
  figure.sn:hover {background-size:108%;}
}
/* SUX */
figure.sux {background:repeat center #fff;background-image:radial-gradient(circle,#ecf5f2ff 14%,#ffffff00 15%,#ffffff00 100%);background-size:24px 24px;color:#3C5066;}
figure.sux:hover {background-image:radial-gradient(circle,#caf3d2ff 6.5%,#caf3d200 6.6%,#caf3d200 100%);background-size:22px 22px;}
figure.sux h4 {margin-top:-12px;}
/* COMING SOON */
figure.soon {background-color:#deebf2;background-image:url('https://fpoimg.com/400x250?text=coming soon&bg_color=deebf2&text_color=17466d');background-size:contain;}
figure.soon h4 {margin-top:-6em;color:#17466d;}

/* ARTICLES */
figure.apple-m1 {background-color:black;color:white;}
figure.apple-m1 img {margin-top:-20px;max-height:140px;}
figure.apple-m1:hover img {margin-top:-20px;max-height:160px;}
figure.iphone-ipad {background-color:var(--bg-secondary);}
figure.iphone-ipad img {margin-top:-5px;}
figure.iphone-ipad:hover img {margin-top:-5px;max-height:115px;}
figure.iphone-ipad h4 {transition:all 250ms;}
figure.iphone-ipad:hover h4 {padding-top:10px;}
figure.data-intuition {background-color:var(--bg-secondary);}
figure.data-intuition img {max-height:110px;position:relative;z-index:-1;}
figure.data-intuition:hover img {margin-top:-10px;max-height:130px;}
/* two-img */
figure.two-img div {position:relative;z-index:-1;}
figure.two-img img:last-child {opacity:0;transition:opacity 240ms;position:absolute;top:0;right:0;left:0;z-index:1;}
figure.two-img:hover img {opacity:0;}
figure.two-img:hover img:last-child {opacity:1;}

.caseStudyLink img[src=""] {display:none;}
@media screen and (min-width:670px) {
  .work {overflow-x:hidden;}
  .work header {max-width:90vw;width:1200px;margin:0 auto;}
  .work .title {vertical-align:middle;margin-top:40px;}
  .work .flex-grid {margin-top:10px;}
  .flex-grid .headings {display:none;}
  .flex-grid a {display:block;margin:2% 0;width:calc(48%);}
  /*.work img {}*/

  /* ALERT */
  .alert {margin:15px 0 10px 0;width:fit-content;}
  .alert :only-child {margin:0;}
  /* PHASE HEADINGS */
  .flex-grid .headings {font-size:0;list-style:none;padding:10px 0 0;width:max-content;}
  .flex-grid .headings li {display:inline-block;border-bottom:2px solid var(--text-med);font-size:1.3rem;margin-right:40px;padding-bottom:10px;position:relative;text-align:center;width:350px;}
  .flex-grid .headings li::after {border-right:2px dashed var(--text-ultra-faint);content:'';display:block;position:absolute;top:0;right:-20px;height:calc(100% + 15px + 212px * 6);}
  .flex-grid .headings li:last-child {padding-left:200px;text-align:left;width:calc(100vw - 710px);min-width:270px;}
  .flex-grid .headings li:last-child::after {content:unset;}
}
@media screen and (min-width:970px) {
  .flex-grid a {width:calc(31%);}
  .flex-grid .headings {padding-right:5vw;}
  .flex-grid .headings li:last-child {width:calc(90vw - 610px);}
}
@media screen and (min-width:1200px) {
  .work {overflow-x:unset;}
  .work::after {content:unset;}
  .work header {padding:0;}
  .flex-grid .headings {padding-right:10vw;}
  .flex-grid .headings li:last-child {width:calc(85vw - 630px);}
}

/* FOOTER */
#footer {font-size:calc(100% + .2vw);/*background-color:var(--bg-primary-alpha);backdrop-filter:blur(40px) saturate(180%);-webkit-backdrop-filter:blur(40px) saturate(180%);*/}
@media screen and (min-width:1200px) {
#footer {border-radius:30px;margin-bottom:40px;}
}

#footer h5 {font-size:1.35em;}
#footer a {border-bottom:1px dotted transparent;cursor:pointer;margin-right:20px;transition:all 140ms;}
#footer a:hover {border-bottom: 1px dotted var(--highlight);}

/* dynamicLoad */
@media screen and (max-width:859px) {#dynamicLoad ~ * {display:none;}}
@media screen and (min-width:860px) {
  body.dynamicLoad {
    overflow:hidden;
    position:fixed;
    inset:0;
    z-index:10;
  }
  #dynamicLoad {
    background-color:var(--bg-primary-alpha);
    box-shadow:0 0 140px -25px rgba(0,0,0,.6);
    max-height:calc(100vh - 100px);
    overflow-y:auto;
    padding:50px 0;
    position:fixed;
    inset:0;
    z-index:10;
  }
}
@media screen and (min-width:1200px) {
  body.dynamicLoad {overflow:unset;}
}

@media (prefers-color-scheme:dark) {
:root {
  --text:#fff;
  --text-med:#bbb;
  --text-faint:#8f8e83;
  --text-faint-alpha:#8f8e838f;
  --text-ultra-faint:#444;
  --highlight:#ff9696;
  --bg-primary:#181818;
  --bg-primary-alpha:#18181880;
  --bg-secondary:#000;
  --bg-tertiary:#202020;
  --selection:#fffcdb42;

  --highlight-text:linear-gradient(120deg, #ec9678, #d96363);
  --values-ribbon:linear-gradient(60deg, #4b4d5a85, #3e425300);
  --values-ribbon-shadow:0 0 160px 320px rgb(0 0 0 / 6%);
}
b {font-size:1.15em;line-height:1em;}
img.invert {filter:invert(1) hue-rotate(180deg);}
.work a {box-shadow:none;}
figure.soon {background-color:#17466d;background-image:url('https://fpoimg.com/400x250?text=coming soon&bg_color=17466d&text_color=deebf2');background-size:cover;}
figure.soon h4 {color:#deebf2;}
}

@media (prefers-color-scheme:dark) and (min-width:375px) {
.flex-grid figure {opacity:0.8;}
.flex-grid a:hover figure {box-shadow:none;opacity:1;}
}
