/*** Fonts ********************/
@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-regular-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-regular-webfont.woff") format("woff");
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-semibold-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-semibold-webfont.woff") format("woff");
  font-family: "GilroySemiBold";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-bold-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-bold-webfont.woff") format("woff");
  font-family: "GilroyBold";
  font-style: normal;
  font-weight: normal;
}
/*** Text colors ********************/
.text-gable-green {
  color: #293e40;
}

.text-acapulco {
  color: #81b5a1;
}

.text-pure-white {
  color: white;
}

.text-fountain-blue {
  color: #68a1af;
}

.text-wild-blue-yonder {
  color: #8686bc;
}

.text-orchid {
  color: #db8f8f;
}

.text-tumbleweed {
  color: #e8a679;
}

.text-flax {
  color: #e5d87c;
}

.text-cruise {
  color: #b0e1ce;
}

.text-french-pass {
  color: #a7d4df;
}

.text-perano {
  color: #b1b1e4;
}

.text-cavern-pink {
  color: #e9bcbc;
}

.text-apricot {
  color: #fbd0b3;
}

.text-buttermilk {
  color: #fbf2b4;
}

.text-aquamarine {
  color: #64ddac;
}

.text-ocean-spray {
  color: #72d0e2;
}

.text-lavender {
  color: #9898e5;
}

.text-bittersweet {
  color: #fc726d;
}

.text-tan-hide {
  color: #ff924e;
}

.text-wattle {
  color: #d6df38;
}

.text-cloud {
  color: #f7f7f7;
}

.text-silver-sand {
  color: #c0c2c4;
}

.text-oslo-grey {
  color: #8a8e91;
}

.text-mako {
  color: #474d52;
}

.text-pure-black {
  color: black;
}

.text-powder-blue {
  color: #b8d9e2;
}

.text-powder-pink {
  color: #f8d1d4;
}

.text-powder-green {
  color: #b9d0cc;
}

.text-powder-yellow {
  color: #f2e5be;
}

.text-powder-dark-gray {
  color: #c8c8c8;
}

.text-powder-light-gray {
  color: #e1e1e1;
}

/*** Background colors ********************/
.background-gable-green {
  background-color: #293e40;
}

.background-acapulco {
  background-color: #81b5a1;
}

.background-pure-white {
  background-color: white;
}

.background-fountain-blue {
  background-color: #68a1af;
}

.background-wild-blue-yonder {
  background-color: #8686bc;
}

.background-orchid {
  background-color: #db8f8f;
}

.background-tumbleweed {
  background-color: #e8a679;
}

.background-flax {
  background-color: #e5d87c;
}

.background-cruise {
  background-color: #b0e1ce;
}

.background-french-pass {
  background-color: #a7d4df;
}

.background-perano {
  background-color: #b1b1e4;
}

.background-cavern-pink {
  background-color: #e9bcbc;
}

.background-apricot {
  background-color: #fbd0b3;
}

.background-buttermilk {
  background-color: #fbf2b4;
}

.background-aquamarine {
  background-color: #64ddac;
}

.background-ocean-spray {
  background-color: #72d0e2;
}

.background-lavender {
  background-color: #9898e5;
}

.background-bittersweet {
  background-color: #fc726d;
}

.background-tan-hide {
  background-color: #ff924e;
}

.background-wattle {
  background-color: #d6df38;
}

.background-cloud {
  background-color: #f7f7f7;
}

.background-silver-sand {
  background-color: #c0c2c4;
}

.background-oslo-grey {
  background-color: #8a8e91;
}

.background-mako {
  background-color: #474d52;
}

.background-pure-black {
  background-color: black;
}

.background-powder-blue {
  background-color: #b8d9e2;
}

.background-powder-pink {
  background-color: #f8d1d4;
}

.background-powder-green {
  background-color: #b9d0cc;
}

.background-powder-yellow {
  background-color: #f2e5be;
}

.background-powder-dark-gray {
  background-color: #c8c8c8;
}

.background-powder-light-gray {
  background-color: #e1e1e1;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

* {
  font-family: "GilroyRegular", sans-serif;
}

body {
  background-color: #AFD3DD;
  color: #293e40;
  position: relative;
}
body.open {
  background-color: white;
}
body.open aside {
  display: block;
}
body.prompt {
  background-color: white;
}
body.prompt #post-form-interstitial {
  display: block;
}
body.demo {
  background-color: white;
}
body.demo #demo-page {
  display: block;
}

p {
  margin: 0.5em 0;
}

a[href] {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background-image: -webkit-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image: -moz-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image: -ms-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image: -o-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image: linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 205% 1.5px;
  color: #293e40 !important;
  cursor: not-allowed;
  display: inline;
  overflow: hidden;
  padding-bottom: 5px;
  text-decoration: none;
}
a[href]:hover {
  background-position: bottom left;
}

img, source {
  max-width: 100vw;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.required {
  border: 2px solid red !important;
}

.no-click {
  cursor: not-allowed;
  max-width: 100vw;
}
.no-click source, .no-click img {
  display: block;
  margin: 0 auto;
  width: 1400px;
}

/* MAIN VIEW */
#nav {
  background-color: white;
  box-shadow: 0 2px 6px rgba(45, 61, 64, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#prototype-name {
  text-align: center;
  margin-top: 1em;
}

#dg-cta {
  box-shadow: -2px 2px 6px rgba(45, 61, 64, 0.65);
  transition: right 400ms;
  position: fixed;
  bottom: 20%;
  right: -110px;
  z-index: 1;
}
#dg-cta:hover, #dg-cta.pop {
  right: 0;
}
#dg-cta a {
  background-color: white;
  cursor: pointer;
  display: block;
}
#dg-cta a img {
  max-width: 170px;
}
#dg-cta a:hover img {
  opacity: 0.9;
}

/* FORM */
aside {
  background-color: white;
  display: none;
  margin: 0;
  padding-top: 100px;
}
aside img {
  max-width: 100%;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

#form {
  border-left: 2px solid #e6e6e6;
}

form {
  margin-top: 20px;
  padding-bottom: 50px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-control {
  background-color: #e6e6e6;
  border: unset;
  border-radius: 0;
  font-size: 1.2em;
  line-height: 3em;
  height: unset;
}
.form-control:focus, .form-control:active {
  background-color: #e6e6e6;
  border: none;
  box-shadow: unset;
  outline: none;
}
.form-control[type=text].dirty {
  line-height: 1.9em;
  padding-top: 24px;
}

.form-group, .form-row {
  margin-bottom: 0.6em;
}

.form-group, .form-row .col {
  position: relative;
}

input[type=text] + label {
  display: block;
  opacity: 0;
  text-transform: unset;
  position: absolute;
  top: 26px;
  left: 12px;
  transition: all 200ms;
}

.form-row .col input + label {
  left: 17px;
}

input[type=text].dirty + label {
  color: #888;
  font-size: 0.8em;
  opacity: 1;
  top: 9px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.select {
  cursor: pointer;
  position: relative;
}
.select::after {
  content: url("http://servicenow.com/content/dam/servicenow/images/demo-asset/icon/arrow-down.png");
  position: absolute;
  right: 16px;
  top: 1.5em;
}
.select optgroup {
  display: none;
}

.form-check input {
  cursor: pointer;
}
.form-check label {
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
  text-transform: unset;
}

#captcha {
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: 1.5em;
  max-width: 70vw;
  width: 300px;
}

.btn {
  border-radius: 0;
  border: 2px solid #8DB4A2;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  padding: 10px 40px;
  text-transform: uppercase;
  margin: 0 auto;
}
.btn:hover {
  background-color: #293e40;
  border-color: #293e40;
  color: white !important;
}

/* INTERSTITIAL */
#post-form-interstitial {
  display: none;
}
#post-form-interstitial .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* DEMO PAGE */
#demo-page {
  background-color: white;
  display: none;
  padding-top: 80px;
}

#video-wrapper {
  position: relative;
}
#video-wrapper video {
  position: absolute;
  top: 10px;
  left: 20px;
  width: calc(100vw - 40px);
  height: auto;
}
#video-wrapper video:focus {
  outline: none;
}
@media (min-width: 992px) {
  #video-wrapper video {
    top: 3px;
    width: 62.5%;
  }
}
@media (min-width: 1440px) {
  #video-wrapper video {
    left: calc(50vw - 720px + 20px);
    width: 902px;
  }
}

/*# sourceMappingURL=main.css.map */
