@charset "utf-8";

// Import sass partials - KEEP IN THIS ORDER
@import "../resources/breakpoints";
@import "../resources/fonts";
@import "../resources/colors";


// Begin css here
html, body {margin:0;padding:0;min-height:100%;}
*{font-family:'GilroyRegular', sans-serif;}
body {
  background-color:#AFD3DD;
  color:#293e40; // gable-green
  position:relative;
  &.open {
    background-color:white;
    aside {display:block;}
  }
  &.prompt {
    background-color:white;
    #post-form-interstitial {display:block;}
  }
  &.demo {
    background-color:white;
    #demo-page {display:block;}
  }
}
p {margin:.5em 0;}
a[href] {
  -webkit-transition:all 0.25s linear;
  -moz-transition:all 0.25s linear;
  transition:all 0.25s linear;
  background-image:-webkit-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image:-moz-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image:-ms-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image:-o-linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-image:linear-gradient(to right, #81b5a1 50%, transparent 50%);
  background-position:bottom right;
  background-repeat:no-repeat;
  background-size:205% 1.5px;
  color:#293e40!important; // gable-green
  cursor:not-allowed;
  display:inline;
  overflow:hidden;
  padding-bottom:5px;
  text-decoration:none;
  &:hover {background-position:bottom left;}
}
img, source {max-width:100vw;}
.bold {font-weight:bold;}
.small {font-size:.8em;}
.center {text-align:center;}
.required {border:2px solid red!important;}
.no-click {
  cursor:not-allowed;
  max-width:100vw;
  source, img {
    display:block;
    margin:0 auto;
    width:1400px;
  }
}
/* MAIN VIEW */
#nav {
  background-color:white;
  box-shadow:0 2px 6px rgba(45, 61, 64, 0.25);
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:10;
}

#prototype-name {
  text-align:center;
  margin-top:1em;
}
#dg-cta {
  box-shadow:-2px 2px 6px rgba(45, 61, 64, 0.65);

  transition:right 400ms;
  position:fixed;
	bottom:20%;
	right:-110px;
  z-index:1;
  &:hover, &.pop {right:0;}

  a {
    background-color:white;
    cursor:pointer;
    display:block;
    img {max-width:170px;}
    &:hover img {opacity:.9;}
  }
}

/* FORM */
aside {
  background-color:white;
  display:none;
  margin:0;
  padding-top:100px;

  img {max-width:100%;}
}
.container-fluid {
  max-width:1200px;
  margin:0 auto;
}
#form {
  border-left:2px solid #e6e6e6;
}
form {
  margin-top:20px;
  padding-bottom:50px;
}
.form-row {
  margin-bottom:1rem;
}
.form-control {
  background-color:#e6e6e6;
  border:unset;
  border-radius:0;
  font-size:1.2em;
  line-height:3em;
  height:unset;
  &:focus, &:active {
    background-color:#e6e6e6;
    border:none;
    box-shadow:unset;
    outline:none;
  }
  &[type="text"].dirty {
    line-height:1.9em;
    padding-top:24px;
  }
}
.form-group, .form-row {margin-bottom:.6em;}
.form-group, .form-row .col {position:relative;}
input[type="text"]+label {
  display:block;
  opacity:0;
  text-transform:unset;
  position:absolute;
  top:26px;
  left:12px;
  transition:all 200ms;
}
.form-row .col input+label {left:17px;}
input[type="text"].dirty+label {
  color:#888;
  font-size:.8em;
  opacity:1;
  top:9px;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  position:relative;
}
.select {
  cursor:pointer;
  position:relative;
  &::after {
    content:url("http://servicenow.com/content/dam/servicenow/images/demo-asset/icon/arrow-down.png");
    position:absolute;
    right:16px;
    top:1.5em;
  }
  optgroup {display:none;}
}
.form-check {
  input {cursor:pointer;}
  label {
    cursor:pointer;
    display:inline-block;
    padding-right:10px;
    text-transform:unset;
  }
}
#captcha {
  cursor:pointer;
  border:2px solid transparent;
  margin-bottom:1.5em;
  max-width:70vw;
  width:300px;
}
.btn {
  border-radius:0;
  border:2px solid #8DB4A2;
  cursor:pointer;
  display:inline-block;
  font-size:.9em;
  padding:10px 40px;
  text-transform:uppercase;
  margin:0 auto;
  &:hover {
    background-color:#293e40;
    border-color:#293e40;
    color:white!important;
  }
}

/* INTERSTITIAL */
#post-form-interstitial {
  display:none;
  .container {
    align-items:center;
    display:flex;
    flex-direction:column;
    height:100vh;
    justify-content:center;
  }
}

/* DEMO PAGE */
#demo-page {
  background-color:white;
  display:none;
  padding-top:80px;
}
#video-wrapper {
  position:relative;
  video {
    position:absolute;
    top:10px;
    left:20px;
    width:calc(100vw - 40px);
    height:auto;
    &:focus {
      outline:none;
    }
    @media (min-width:992px) {
      top:3px;
      width:62.5%;
    }
    @media (min-width:1440px) {
      left:calc(50vw - 720px + 20px);
      width:902px;
    }
  }
}
