/*** Fonts ********************/

@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-regular-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-regular-webfont.woff") format("woff");
  font-family: "GilroyRegular";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-semibold-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-semibold-webfont.woff") format("woff");
  font-family: "GilroySemiBold";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-bold-webfont.woff2") format("woff2"), url("https://www.servicenow.com/etc/clientlibs/servicenow-www-fonts/fonts/gilroy-bold-webfont.woff") format("woff");
  font-family: "GilroyBold";
  font-style: normal;
  font-weight: normal;
}
